<div class="jumbotron center">
   
        <%= link_to 'Join!', root_path, class: "btn btn-primary navbar-btn" %>
        <%= link_to 'Sales', root_path, class: "btn btn-primary navbar-btn" %>
        <%= link_to 'Hot Items', root_path, class: "btn btn-default navbar-btn" %>
        <%= link_to 'Login!', root_path, class: "btn btn-default navbar-btn" %>
        <%= link_to 'Logout', root_path, method: :delete, class: "btn btn-default navbar-btn" %>
        
        
</div>