<div class="jumbotron center">
        
      <img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/800x82.jpg" alt="4 day sale. Save on laptops, headphones, mixers and more. Ends Monday. Shop now. Best Buy, headphones, laptop." style=""></img>
   
        <%= link_to 'Join!', root_path, class: "btn btn-primary navbar-btn" %>
        <%= link_to 'Sales', root_path, class: "btn btn-primary navbar-btn" %>
        <%= link_to 'Hot Items', root_path, class: "btn btn-default navbar-btn" %>
        <%= link_to 'Login!', root_path, class: "btn btn-default navbar-btn" %>
        <%= link_to 'Logout', root_path, method: :delete, class: "btn btn-default navbar-btn" %>
        
        
</div>

<img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/125x125.jpg" alt="Up to 25 percent off select 4K Ultra H D TVs, plus free shipping, or free delivery on TVs 51 inches or larger. Shop now. Best Buy." style=""></img>
<img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/120x60.jpg" alt="Free gift card with select smartphones. Terms and conditions apply. Best Buy." style=""></img>
<img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/120x90.jpg" alt="Save 50 dollars on Xbox One consoles. Exclusions apply. Best Buy." style=""></img>
<img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/120x240.jpg" alt="All aroma diffusers on sale, plus free shipping on orders 35 dollars and up. Shop now. See Price Match Detail in store or online at BestBuy.com/PMG. Copyright 2016 Best Buy. Expert service. Unbeatable price. Diffuser." style=""></img>
<img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/180x150.jpg" alt="Free Beats headphones with iPhone 6. Terms and conditions apply. Shop now. See Price Match Detail in store or online at BestBuy.com/PMG. Copyright 2016 Best Buy. Expert service. Unbeatable price. Headphones." style=""></img>
<img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/300x250.jpg" alt="Save 30 dollars to 150 dollars on select desktop and all-in-one computers, plus free shipping. Shop now. See Price Match Detail in store or online at BestBuy.com/PMG. Copyright 2016 Best Buy. Expert service. Unbeatable price. Computer, mouse." style=""></img>
<br/><br/>