<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
   <%= render 'home/header' %>
<%= yield %>
<br/></nav>
<img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/468x60.jpg" alt="Free 50 dollar gift card with Xbox One consoles. Exclusions apply. Shop now. Best Buy, video game console, controller." style=""></img>
<img src="https://img.bbystatic.com/BestBuy_US/store/ee/2016/global/general/153414-affiliates/banners/728x90.jpg" alt="Up to 400 dollar incentive on select LG Studio appliance packages. Terms and conditions apply. Shop now. See Price Match Detail in store or online at BestBuy.com/PMG. Copyright 2016 Best Buy. Expert service. Unbeatable price. Major appliances." style=""></img>
<div/>
</body>
</html>
